/* 
NOT MY CODE!!! I needed to host my minor edits somewhere
                      Warning!
            Made by Nobroken and Aniquilou
                      Find more in: 
            https://nobroken.tumblr.com
                           &
            https://aniquilou.tumblr.com
           ! Thank you for your preference !
                    Check back often.
*/


#playerW{width:300px;top:0px !important;left:-95px !important;background:url(http://goo.gl/z86up6); background-position:top !important; background-repeat:no-repeat !important; position:fixed !important;cursor:url('http://goo.gl/yxJtw9'), auto !important;-webkit-transition: all 0.6s ease; -moz-transition: all 0.6s ease;-o-transition: all 0.6s ease;transition: all  0.6s eas;}
#playerW:hover {left:0px !important;-webkit-transition: all 0.6s ease; -moz-transition: all 0.6s ease;-o-transition: all 0.6s ease;transition: all  0.6s eas;}
#player #miniBaseCenter{width:300px; height:25px; left:30px;z-index:0; position:absolute; background:url(); background-position: bottom !important; background-repeat: repeat-x !important;cursor:url('http://goo.gl/yxJtw9'), auto !important;}

#player,#player a{ color:#f84cd3; }
#player .mainImage{ background:url();cursor:url('http://goo.gl/yxJtw9'), auto !important;}

#player #baseLeft{ width:93px;cursor:url('http://goo.gl/yxJtw9'), auto !important;}
#player #baseRight{ width:145px;cursor:url('http://goo.gl/yxJtw9'), auto !important;}
#player .button{width:22px;}
#player #play{width:22px !important;background:url(http://goo.gl/XASN1w)!important;z-index:999; cursor:url('http://goo.gl/V6wcWX'), auto !important;}
#player #pause{width:22px !important;background:url(http://goo.gl/F990UG)!important;z-index:999; cursor:url('http://goo.gl/V6wcWX'), auto !important;}
#player #play,#player #pause{ left:32px; }
#player #previous{left:59px; width:15px !important;height:16px; top:7px !important;background:url(http://goo.gl/6ZaYuj)!important; cursor:url('http://goo.gl/V6wcWX'), auto !important;z-index:9999999 !important;}
#player #next{left:79px; width:15px !important;height:16px; top:7px !important;background:url(http://goo.gl/DTzXWb)!important; cursor:url('http://goo.gl/V6wcWX'), auto !important;z-index:9999999 !important;}
#player #jp-title{ left:6px; width:85px;height:8.5px;top:3px;cursor:url('http://goo.gl/yxJtw9'), auto !important;}
#player #title{ left:6px;width:85px;text-align:left !important; text-transform:uppercase !important;white-space: nowrap; color:#828282 !important;font-size:7px; text-overflow: ellipsis; overflow: hidden;cursor:url('http://goo.gl/yxJtw9'), auto !important;}
#player .jp-scrollingtext {width:auto !important; height:auto !important; text-transform:uppercase !important; font-weight:100 !important; color:#000 !important; font-size:7px !important;top:.5px; font-family:arial !important; cursor: url('http://goo.gl/yxJtw9'), auto !important;}
#player #tooltip{ left:-999999px;cursor:url('http://goo.gl/yxJtw9'), auto !important;}
#player #timer{left:19px !important;top:8px !important;font-weight:400;text-align:left !important;font-size:7px !important; width:50px !important;cursor:url('http://goo.gl/yxJtw9'), auto !important; color:#000 !important;font-family:times !important;}
#player #timer a{text-align:left !important;font-size:7px !important; display:none; border-color: transparent !important;
background-color:transparent !important; cursor:url('http://goo.gl/V6wcWX'), auto !important;font-family:times !important;}
#player #timer:before{text-align:left !important; color:#000 !important;font-weight:400;font-size:7px !important;left:19px !important;font-weight:normal !important;height:12px !important;letter-spacing:1px !important;
font-family:times !important; border-color: transparent !important;background:transparent !important; cursor:url('http://goo.gl/V6wcWX'), auto !important;}
#player #list{left:-1px !important; width:15px !important;height:15px !important;top:7px !important;background:url(http://goo.gl/r4Mb2P)!important; cursor:url('http://goo.gl/V6wcWX'), auto !important;}

#player #repeatButton a, #player #repeatOnceButton a, 
#player #repeatAllButton a, #player #shuffleButtonOff a,  #player #shuffleButtonOn a {background-image:url('');background-repeat:no-repeat;display: block;width: 22px;height: 25px;outline: 0;}

#player #repeatButton {left:-999999px; position:absolute; z-index:9;}
#player #repeatButton a {background-position:none !important;}
#player #repeatButton a:active {background-position:none !important;}

#player #repeatOnceButton {left:-999999px; position:absolute; z-index:9;}
#player #repeatOnceButton a {background-position:none !important;}
#player #repeatOnceButton a:active {background-position:none !important;}

#player #repeatAllButton {left:-999999px; position:absolute; z-index:9;}
#player #repeatAllButton a {background-position:none !important;}
#player #repeatAllButton a:active {background-position:none !important;}

#player #shuffleButtonOff {left:-999999px; position:absolute; z-index:9;}
#player #shuffleButtonOff a {background-position:none !important;}
#player #shuffleButtonOff a:active {background-position:-66px -25px !important;}

#player #shuffleButtonOn {left:-999999px; position:absolute; z-index:9;}
#player #shuffleButtonOn a {background-position:none !important;}
#player #shuffleButtonOn a:active {background-position:none !important;}

#player #seeker{ right:316px; display:none;}
#player #seekerBase{ border-color:#000; }
#player #seekerBuffered{ background-color:#000; }
#player #seekerSliderBase{ background-color:#000; }

#player #volume{ width:75px; left:-999999px; }
#player #volumeSlider{ width:15px; background:url(); }

#playlist{ border-color:transparent !important; color:#000000;opacity:1;cursor:url('http://goo.gl/yxJtw9'), auto !important;}

#playlist .module{ border-color:transparent !important; color:#000000;opacity:1;cursor:url('http://goo.gl/yxJtw9'), auto !important;}

@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
#playlist h3{ background:url(http://goo.gl/oyM3Yy); background-repeat: repeat-x !important; color:transparent !important;font-family: 'Indie Flower', cursive;border-color:transparent !important; font-size: 0px;line-height: 18px;height:30px !important;cursor:url('http://goo.gl/yxJtw9'), auto !important;}

#playlist .items{font-size: 10px !important; font-family:Arial !important;list-style-type:square !important;cursor:url('http://goo.gl/yxJtw9'), auto !important;}

#playlist .item{font-size: 10px !important; font-family:Arial !important;margin:0 !important;padding:6px 5px 6px 5px !important;cursor:url('http://goo.gl/yxJtw9'), auto !important;}

#playlist .even{background-color:transparent !important;cursor:url('http://goo.gl/yxJtw9'), auto !important;}

#playlist .odd{ background-color:transparent !important;cursor:url('http://goo.gl/yxJtw9'), auto !important;}

#playlist .focus{ background-color:transparent !important;font-weight: bold;padding-left:23px !important;background:url(http://goo.gl/DJQLTB) !important;background-repeat:no-repeat !important;cursor:url('http://goo.gl/yxJtw9'), auto !important;}


/* Below CSS are for Retina */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (min--moz-device-pixel-ratio: 2),
       only screen and (-o-min-device-pixel-ratio: 2/1),
       only screen and (-ms-min-device-pixel-ratio: 2),
       only screen and (min-device-pixel-ratio: 2) {

       	#player #repeatButton a, #player #repeatOnceButton a, 
		#player #repeatAllButton a, #player #shuffleButtonOff a,  #player #shuffleButtonOn a  {
                background: url() no-repeat;
                background-size: 110px 50px;
            }
        #player #play  {
            background: url() no-repeat;
            background-size: 23px 50px;
        }
        #player .mainImage  {
            background: url() no-repeat;
            background-size: 450px 50px;
        }
        #player #miniBaseCenter, #player #volumeSlider  {
            background: url() no-repeat;
            background-size: 14px 50px;
        }
}
