#musicbox
    {position:fixed;
    top:0px;
    left:35;
    width:95px;
    height:12px;
    background-color:#fff;
    text-align:center;
    padding:3px;
    overflow:hidden;
    border-radius:3px;
    -moz-border-radius:2px;
    opacity:0.5;
    -webkit-transition: opacity 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
        }

#musicbox:hover
    {opacity:1;
        }

#insidebox
    {height:11px;
    -webkit-transition: opacity 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
        }
        
#playerbox
    {margin-top:5px;
        }
#musicbox:hover #insidebox
    {margin-top:-20px;
        }